* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
}

img {
    width: 3%;
}

.ETH {
    margin-right: 1%;
}

a {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
    transition: 0.5s;
}

a:hover {
    transition: all 0.2s ease-in-out;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.open {
    color: white;
    background-color: black;
    border-radius: 50%;
}

.navi {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: rgb(46, 46, 46);
    font-weight: bold;
    width: 60%;
    margin-top: 10px;
}

section {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

aside {
    border-radius: 10%;
    width: 27%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside a {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
    transition: none;
}

aside a:hover {
    transition: none;
    color: rgb(82, 82, 82);
    background-color: rgba(0, 0, 0, 0);
    border:none;
}

.zaglavie {
    text-align: center;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: content-box;
}