* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
}

img {
    width: 3%;
}

.ETH {
    margin-right: 1%;
}

header a {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
    transition: 0.5s;
}

header a:hover {
    transition: all 0.2s ease-in-out;
    color: white;
    background-color: black;
    border-radius: 50%;
}

.open {
    color: white;
    background-color: black;
    border-radius: 50%;
}

.navi {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: rgb(46, 46, 46);
    font-weight: bold;
    width: 60%;
    margin-top: 10px;
}

section {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.zaglavie {
    text-align: center;
}