* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#page {
	width: 1912px;
	margin: 0px auto;
}

.nav-bar {
    height: auto;
    position: fixed;
    font-weight: bold;
    background-color: rgba(61, 61, 61, 0.719);
    width: 99%;
    overflow: hidden;
}

footer {
    text-shadow: 1px 2px black;
    background-color: rgba(61, 61, 61);
    color: white;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    transition: color, background-color 0.5s ease-in;
    text-shadow: 1px 1px black;
}

.Do-logo {
    text-shadow: 1px 2px black;
}

.nav-bar a:hover, a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
    background-color: white;
}

.nav-bar a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
}

.nav-bar a:hover {
    text-shadow: 1px 1px black;
    background-color: white;
}

.nav-bar a:link, a:visited {
    border-radius: 13%;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    float: right;
}

.nav-bar .nav-logo {
    width: 60px;
    height: 60px;
    float: left;
}

h1 {
    padding: 10px 10px 10px 65px;
    margin: 4px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

.Background {
    background:url(./../Контакти/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.87);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.87);
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.card {
    height:475px;
    float: left;
    position: relative;
    left: auto;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.87);
}

.card1 {
    height:475px;
    float: left;
    position: relative;
    left: auto;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.87);
}
  
.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    width: 300px;
    height: 50px;
}

.card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    width: 300px;
    height: 50px;
}
  
.card button:hover {
    opacity: 0.7;
}

.card1 button:hover {
    opacity: 0.7;
}

h3 {
    color: black;
    text-align: center;
    font-size: 30px;
}

.column {
    float: left;
    position: relative;
    left: 8.1%;
    width: 17%;
    padding: 0 10px;
}

.column1 {
    float: left;
    position: relative;
    left: 8.1%;
    width: 17%;
    padding: 0 10px;
}