* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

#page {
	width: 1912px;
	margin: 0px auto;
}

.nav-bar {
    position: fixed;
    font-weight: bold;
    background-color: rgba(61, 61, 61, 0.719);
    width: 99%;
    overflow: hidden;
}

footer {
    text-shadow: 1px 2px black;
    background-color: rgba(61, 61, 61);
    color: white;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    transition: color, background-color 0.5s ease-in;
text-shadow: 1px 1px black;
}

.Do-logo {
    text-shadow: 1px 2px black;
}

.nav-bar a:hover, a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
    background-color: white;
}

.nav-bar a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
}

.nav-bar a:hover {
    text-shadow: 1px 1px black;
    background-color: white;
}

.nav-bar a:link, a:visited {
    border-radius: 13%;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    float: right;
}

.nav-bar .nav-logo {
    width: 60px;
    height: 60px;
    float: left;
}

h1 {
    padding: 10px 10px 10px 65px;
    margin: 4px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

.Background {
    background-image: url(./../Контакти/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li {
    text-align: left;
    text-shadow: 1px 1px black;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: white;
    max-width: 60%;
    line-height: 23px;
}

p1 {
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px black;
    padding: 0px 0px 0px 21px;
    color: white;
}

p {
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px black;
    padding: 0px 0px 0px 21px;
    color: white;
}

.Snimka {
    clear: right;
    float: right;
    display: block;
    width: 35%;
    height: auto;
    margin: 125px 50px 10px 10px;
    border: 2px solid black;
    border-radius: 10%;
}