* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    font-weight: bold;
    background-color: rgba(61, 61, 61, 0.719);
    overflow: hidden;
}

footer {
    text-shadow: 1px 2px black;
    background-color: rgba(61, 61, 61);
    color: white;
    padding: 20px 20px 20px 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-btn- {
    margin-bottom: 10px;
}

a {
    transition: color, background-color 0.5s ease-in;
    text-shadow: 1px 1px black;
}

.Do-logo {
    margin: 9px 9px 9px 9px;
    text-shadow: 1px 2px black;
}

.nav-bar a:hover, a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
    background-color: white;
}

.nav-bar a.nav-btn {
    text-shadow: 1px 1px black;
    color: rgba(61, 61, 61, 0.719);
}

.nav-bar a:hover {
    text-shadow: 1px 1px black;
    background-color: white;
}

.nav-bar a:link, a:visited {
    border-radius: 13%;
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 9px 9px 9px 9px;
    float: right;
}

.nav-bar .nav-logo {
    width: 60px;
    height: 60px;
    float: left;
    margin: 5px 5px 5px 5px;
}

h2 {
    padding: 10px 10px 10px 65px;
    margin: 4px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

.Background {
    background-image:url(./../Контакти/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 35px;
    text-shadow: 1px 1px black;
    color: white;
    font-weight: bold;
    text-align: center;
}

.Tekst {
    line-height: 27px;
    max-width: 59%;
    text-shadow: 1px 1px black;
    float: left;
    padding: 0px 0px 0px 10px !important;
    color: white;
}

.zaglavie {
    text-shadow: 1px 1px black;
    color: white;
    margin: 0px 0px 10px 10px;
    font-size: 23px;
    font-weight: bold;
}

.Snimka {
    clear: right;
    float: right;
    margin: 0px 50px 0px 10px !important;
    width: 31%;
    height: auto;
    border: 2px solid black;
    border-radius: 10%;
}

.Snimka1 {
    clear: right;
    float: right;
    display: block;
    margin: 13px 210px 0px 0px !important;
    width: 15%;
    height: auto;
    border: 2px solid black;
    border-radius: 10%;
}

.data {
    text-shadow: 1px 1px black;
    color: white;
    margin: 10px 0px 0px 10px;
    font-size: 15px;
    font-weight: bolder;
}